
CHECK_PACKETS/383/COUNTvsGEMROC.tiff
CHECK_PACKETS/351/GEMROC_9.tiff
CHECK_PACKETS/351/GEMROC_7.tiff
CHECK_PACKETS/351/GEMROC_5.tiff
CHECK_PACKETS/351/GEMROC_3.tiff
CHECK_PACKETS/351/GEMROC_1.tiff
CHECK_PACKETS/351/GEMROC_0.tiff
CHECK_PACKETS/351/COUNTvsGEMROC.tiff
DECODE/outputs/**
